<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cbs.cbs">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".services.GPSLocalisationService"
            android:enabled="true" />
        <service
            android:name=".services.SmsService"
            android:enabled="true" />

        <receiver android:name=".broadcastreceiver.SmsServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.broadcast.GPS_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ParametreDefautActivity" />
        <activity android:name=".activities.RenseignerNumeroActivity" />
        <activity android:name=".activities.RenseignerAdresseActivity" />
        <activity android:name=".activities.RenseignerHeureArriveeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCiKU2nxS7D15zoVHbSg-8O-_2TcXHumW8" />
    </application>

</manifest>
