<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cbs.cbs">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".GPSLocalisationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccueilActivity" />
        <activity android:name=".DefaultParamActivity" />
        <activity android:name=".RenseignerNumeroActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAX7lTjLLLk1bA1uf6mZaRDfThjhMiCJA" />

        <activity
            android:name=".ChoisirAdresseRDVActivity"
            android:label="@string/title_activity_choisir_adresse_rdv" />
        <activity android:name=".ChoisirHeureArriveeActivity"></activity>
    </application>

</manifest>